# Ignore IntelliJ and NetBeans files
.idea/
*.iml
nbproject/private/
out/
build/
target/
dist/
build.xml~

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Compiled classes
*.class

# Gradle and Maven
.gradle/
**/build/
.mvn/
!/.mvn/wrapper/maven-wrapper.jar

# Java archives
*.jar
*.war
*.ear

# Database lock files
*.lck

# Environment / secrets
*.env
*.properties
!service.properties  # keep your service.properties file

# Allow these source and resource folders
!/src/
!/Assets/
!/design/
!/Gkform/
!/test/
